[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
publish/
*.log
*.user
*.userosscache
*.sln.doccache
.idea/
*.sln.iml
*.suo
/shelf/
/workspace.xml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.raf.iml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
*.db
*.sqlite
appsettings.Development.json
appsettings.Local.json
.DS_Store
thumbs.db
desktop.ini
.raf/